<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
            integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Сеансов не найдено</title>
</head>
<body>
<main class="container">
    <div class="bg-light p-5 rounded mt-3">
        <h1>Отзыв отменен</h1>
        <p class="lead">Мы не смогли найти вас среди клиентов мастера, либо вы уже исчерпали лимит отзывов. Вы не можете
            оставлять отзывы мастеру не записавшись на процедуру. По прохождении процедуры вам будет дана возможность
            оставить мастеру отзыв</p>
        <p class="lead">Вы можете вернуться на <a href="{% url "landing" pk=master.pk %}">личную страницу</a> мастера.
        </p>
    </div>
</main>
</body>
</html>